<div class="TakeoverText">
  <h1 class="TakeoverText-title">Context and outcomes</h1>
</div>

<div class="form-container sc-m-t--l"%>
  <%= simple_form_for @split, url: admin_split_assignment_context_path, method: :put do |f| %>
    <%= f.error :base %>
    <%= f.input :hypothesis, hint: "What do we expect to change with the treatment condition, and why?" %>
    <%= f.input :assignment_context, hint: "When do we assign users to this split? Is the split population constrained to a particular type of user or action? Assignments should happen as \"close\" to the varied experience as possible, so that only relevant users are included in the analysis." %>

    <footer class="sc-TakeoverFooter">
      <div class="sc-TakeoverFooter-content">
        <%= link_to "Back", admin_split_path(@split), class: 'sc-TakeoverFooter-ctaBack sc-Link sc-Link--arrowLeft ft-backButton' %>
        <%= f.submit "Continue", data: { disable_with: "Updating Split..." }, class: 'u-button ft-confirmButton' %>
      </div>
    </footer>
  <% end %>
</div>
