<% content_for :body_layout_body_color, 'white' %>
<% content_for :page_title, "Split Details: #{@split.name}" %>

<div class="TakeoverText">
  <h1 class="TakeoverText-title">Details for variant: <%= @variant_detail.variant %></h1>
</div>

<%= simple_form_for @variant_detail, url: admin_split_variant_detail_path(@split, @variant_detail.variant), method: :put do |f| %>
  <%= f.error :base %>
  <%= f.input :display_name %>
  <%= f.input :description, label: 'Short description', hint: 'For example: There are FAQ links in a sidebar on the Activity Tab' %>

  <% if TestTrack::AttachmentSettings.attachments_enabled? %>
    <%= f.input :screenshot, as: :file, hint: (safe_join(['Current: ', link_to(@variant_detail.screenshot_file_name, @variant_detail.screenshot.expiring_url(300), target: '_blank')]) if @variant_detail.screenshot.present?) %>
  <% end %>

  <div class="sc-TakeoverFooter">
    <div class="sc-TakeoverFooter-content">
      <%= link_to 'Back', admin_split_path(@split), class: 'sc-TakeoverFooter-ctaBack sc-Link sc-Link--arrowLeft ft-backButton' %>
      <% if @variant_detail.retirable? %>
        <%= link_to "Retire variant", admin_split_variant_retirement_path(@split, @variant_detail.variant), class: "retire-variant-link button secondary",
          method: :post,
          data: { confirm: "You're redistributing #{@variant_detail.variant} assignees to the other variants according to their weights. Do you wish to proceed?" } %>
      <% end %>
      <%= f.submit 'Save', data: { disable_with: 'Updating variant...' }, class: 'u-button ft-confirmButton' %>
    </div>
  </div>
<% end %>
