<% content_for :body_layout_body_color, 'white' %>
<% content_for :page_title, "Split Details: #{@split.name}" %>

<h1 class="my-5">Details for variant: <%= @variant_detail.variant %></h1>

<%= simple_form_for @variant_detail, url: admin_split_variant_detail_path(@split, @variant_detail.variant), method: :put do |f| %>
  <%= f.error :base %>
  <%= f.input :display_name %>
  <%= f.input :description, label: 'Short description', hint: 'For example: There are FAQ links in a sidebar on the Activity Tab' %>

  <% if TestTrack::AttachmentSettings.attachments_enabled? %>
    <%= f.input :screenshot, as: :file, hint: (safe_join(['Current: ', link_to(@variant_detail.filename, variant_screenshot_path(@variant_detail), target: '_blank')]) if @variant_detail.screenshot_file_name?) %>
  <% end %>

  <div class="mt-6">
    <div class="d-flex flex-justify-end flex-items-center border-top pt-4">
      <%= link_to 'Back', admin_split_path(@split), class: 'link flex-1 f4 mr-3 text-bold text-uppercase ft-backButton' %>
      <% if @variant_detail.retirable? %>
        <%= link_to "Retire variant", admin_split_variant_retirement_path(@split, @variant_detail.variant), class: "retire-variant-link btn btn-secondary btn-large f4",
          method: :post,
          data: { confirm: "You're redistributing #{@variant_detail.variant} assignees to the other variants according to their weights. Do you wish to proceed?" } %>
      <% end %>
      <%= f.submit 'Save', data: { disable_with: 'Updating variant...' }, class: 'btn btn-primary btn-large f4 ft-confirmButton' %>
    </div>
  </div>
<% end %>
