<div class="TakeoverText">
  <h1 class="TakeoverText-title">Details for variant: <%= @variant_detail.variant %></h1>
</div>

<div class="form-container sc-m-t--l"%>
  <%= simple_form_for @variant_detail, url: admin_split_variant_detail_path(@split, @variant_detail.variant), method: :put do |f| %>
    <%= f.error :base %>
    <%= f.input :display_name %>
    <%= f.input :description, label: 'Short description', hint: 'For example: There are FAQ links in a sidebar on the Activity Tab' %>

    <div class="sc-TakeoverFooter">
      <div class="sc-TakeoverFooter-content">
        <%= link_to 'Back', admin_split_path(@split), class: 'sc-TakeoverFooter-ctaBack sc-Link sc-Link--arrowLeft ft-backButton' %>
        <%= f.submit 'Continue', data: { disable_with: 'Updating variant...' }, class: 'u-button ft-confirmButton' %>
      </div>
    </div>
  <% end %>
</div>
