<div class="TakeoverText">
  <h1 class="TakeoverText-title">Context and outcomes</h1>
</div>

<div class="InfoCard">
  <%= simple_form_for @split_detail, url: admin_split_details_path, method: :put do |f| %>
    <%= f.error :base %>
    <%= f.input :owner, label: "Squad Name" %>
    <%= f.input :platform, collection: Split.platforms.keys %>
    <%= f.input :location, label: "Location", hint: "Example: Sign Up" %>

    <%= f.input :description, as: :text, hint: "Example: Users often get confused during the account creation process when reaching step 2, 'Personal Details'. We are testing two different versions of this page that aim to clear up that confusion." %>

    <%= f.input :hypothesis, as: :text, hint: "Example: By rearranging some of the fields and adding helper text we can improve sign up completion rates and decrease the amount of support tickets we receive." %>

    <%= f.input :assignment_criteria, as: :text, hint: "Example: Assigned when any user enters the first step of the signup flow. Mobile users are not affected." %>

    <footer class="sc-TakeoverFooter">
      <div class="sc-TakeoverFooter-content">
        <%= link_to "Back", admin_split_path(id: @split_detail.split.id), class: 'sc-TakeoverFooter-ctaBack sc-Link sc-Link--arrowLeft ft-backButton' %>
        <%= f.submit "Update Details", data: { disable_with: "Updating Split..." }, class: 'u-button ft-confirmButton' %>
      </div>
    </footer>
  <% end %>
</div>
