<article class="InfoCard fs-SplitOverview my-5">
  <div class="InfoCard-header">
    <h4>Split Overview</h4>

    <%= link_to "Edit", edit_admin_split_details_path(split), class: 'edit-details-link' %>
  </div>

  <hr class="InfoCard-divider">
  <table class="DescriptionTable">
    <tr>
      <td>Owner</td>
      <td><%= split.owner %></td>
    </tr>
    <tr>
      <td>Platform</td>
      <td><%= split.platform %></td>
    </tr>
    <tr>
      <td>Location</td>
      <td><%= split.location %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= split.description %></td>
    </tr>
  </table>
</article>
