<article class="InfoCard fs-SplitExperiment my-5">
  <div class="InfoCard-header">
    <h4>Experiment<%= " (decision: #{split.decided_variant})" if split.decided?%></h4>

    <% if split.experiment_detail %>
      <%= link_to "Edit", edit_admin_split_details_path(split), class: 'edit-experiment-details-link' %>
    <% else %>
      <%= link_to "Add Details", edit_admin_split_details_path(split), class: 'add-experiment-details-link' %>
    <% end %>
  </div>

  <hr class="InfoCard-divider">
  <% if split.experiment_detail %>
    <table class="DescriptionTable">
      <tr>
        <td>Review Period</td>
        <td><%= split.experiment_detail.start_date %> — <%= split.experiment_detail.end_date %></td>
      </tr>
      <tr>
        <td>Control Variant</td>
        <td><%= split.experiment_detail.control_variant %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><%= split.experiment_detail.description %></td>
      </tr>
      <tr>
        <td>Hypothesis</td>
        <td><%= split.experiment_detail.hypothesis %></td>
      </tr>
      <tr>
        <td>Assignment Criteria</td>
        <td><%= split.experiment_detail.assignment_criteria %></td>
      </tr>
      <tr>
        <td>Takeaways</td>
        <td>
          <% if split.decided? %>
            <%= split.experiment_detail.takeaways %>
          <% else %>
            (split not decided)
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Tests</td>
        <td><%= split.experiment_detail.tests.join(', ') %></td>
      </tr>
      <tr>
        <td>Segments</td>
        <td><%= split.experiment_detail.segments.join(', ') %></td>
      </tr>
    </table>
  <% else %>
    <div class="EmptyTable EmptyTable--centered p-5">
      <p>
        <strong>Is this split a test? Add metadata about it.</strong>
        <br>
        This information is used to explain the context of what a user is experiencing.
      </p>
    </div>
  <% end %>
</article>
