<tr>
  <td>
    <%= split.name %>
  </td>
  <td>
    <%= split.owner_app.name.capitalize %>
  </td>
  <td>
    <%= split.created_at.to_s(:slashed_full_date) %>
  </td>
  <td>
    <%= link_to "View", admin_split_path(split) %>
  </td>
  <% if github_search_enabled? %>
    <td>
      <%= link_to "Github", github_search_url(split), target: "_blank" %>
    </td>
  <% end %>
</tr>
