<article class="InfoCard fs-SplitOverview my-5">
  <div class="InfoCard-header">
    <h4>Split Overview</h4>

    <% if split.has_details? %>
      <%= link_to "Edit", edit_admin_split_details_path(split), class: 'edit-details-link' %>
    <% else %>
      <%= link_to "Add Details", edit_admin_split_details_path(split), class: 'add-details-link btn btn-primary btn-large mr-3' %>
    <% end %>
  </div>

  <hr class="InfoCard-divider">
  <% if split.has_details? %>
    <table class="DescriptionTable">
      <tr>
        <td>Owner</td>
        <td><%= split.owner %></td>
      </tr>
      <tr>
        <td>Platform</td>
        <td><%= split.platform %></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><%= split.location %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><%= split.description %></td>
      </tr>
      <tr>
        <td>Hypothesis</td>
        <td><%= split.hypothesis %></td>
      </tr>
      <tr>
        <td>Assignment Criteria</td>
        <td><%= split.assignment_criteria %></td>
      </tr>
      <% if split.decided? %>
        <tr>
          <td>Takeaways</td>
          <td><%= split.takeaways %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="EmptyTable EmptyTable--centered p-5">
      <p>
        <strong>Is this split a test? Add metadata about it.</strong>
        <br>
        This information is used to explain the context of what a user is experiencing.
      </p>
    </div>
  <% end %>
</article>
