<div class="TakeoverText sc-m-v--l">
  <h1 class="TakeoverText-title">
    Active Split Tests
    <% if @app %>
      for <%= @app.name %>
    <% end %>
  </h1>
  <% if App.by_name.any? %>
    <%= form_with model: @app || App.new, url: admin_root_path, method: :get, local: true do |form| %>
      <%= form.label :name, "Filter by App:" %>
      <%= form.collection_select :name, App.by_name, :name, :name, prompt: true %>
      <%= form.submit "Go", class: "u-button small" %>
    <% end %>
  <% end %>
</div>

<div class="sc-m-v--m">
  <% if @splits.any? %>
    <table class="BasicTable">
      <thead>
        <tr>
          <th><%= link_to('Name', { sort: 'name' }) %></th>
          <th>Owner App</th>
          <th><%= link_to('Date Migrated', { sort: 'date' }) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @splits %>
      </tbody>
    </table>
  <% else %>
    <p>There are no active splits<%= " for the #{@app.name} app" if @app %>.</p>
  <% end %>
</div>
