<div class="TakeoverText">
  <h1 class="TakeoverText-title sc-m-v--l">Split: <%= @split.name %></h1>
</div>

<article class="InfoCard InfoCard-half-width sc-m-v--l">
  <div class="InfoCard-titleContainer">
    <h4>Test details</h4>
  </div>
  <hr class="InfoCard-divider">
  <div class="InfoCard-description">
    <table class="BasicTable">
      <tr class="population-row">
        <td>Population Size</td>
        <td>
          <span class='population'><%= @split.assignments.count %></span>
        </td>
        <td>
          <span><%= link_to "Edit", new_admin_split_bulk_assignment_path(@split) %></span>
        </td>
      </tr>
      <tr>
        <td>Status</td>
        <td class="Status-<%= @split.finished? ? 'finished' : 'active' %>"><%= @split.finished? ? 'Finished' : 'Active' %><span class="sc-p--s">🏁</span></td>
        <td><%= link_to "Edit", new_admin_split_decision_path(@split) %></td>
      </tr>
      <tr>
        <td>App</td>
        <td><%= @split.owner_app.name.capitalize %></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Creation</td>
        <td>
          <span><%= @split.created_at %></span>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
</article>

<article class="InfoCard sc-m-v--l">
  <div class="InfoCard-titleContainer">
    <h4>Variant Details</h4>
    <%= link_to "Edit", new_admin_split_split_config_path(@split), class: 'change-weights-link' %>
  </div>
  <hr class="InfoCard-divider">
  <div class="InfoCard-description">
    <table class="variants-table BasicTable">
      <thead>
        <th>Name</th>
        <th>Weight</th>
        <th>Assignee Count</th>
      </thead>
      <tbody>
        <% @split.variant_details.each do |variant_detail| %>
          <tr>
            <td><%= variant_detail.variant %></td>
            <td><%= variant_detail.weight %>%</td>
            <td>
              <%= variant_detail.assignment_count %>
              <% if variant_detail.retirable? %>
              (<%= link_to "Retire variant", admin_split_variant_retirement_path(@split, variant_detail.variant),
                class: "retire-variant-link",
                        method: :post,
                        data: { confirm: <<-EOF } %>)
                          You're redistributing #{variant_detail.variant} assignees to the other variants according to their weights.
                          Do you wish to proceed?
                        EOF
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>
