<h1 class="my-5">Split: <%= @split.name %></h1>

<%= render partial: "details", locals: { split: @split } %>
<%= render partial: "test_overview", locals: { split: @split } %>
<%= render partial: "variants", locals: { split: @split } %>
<%= render partial: "feature_completions", locals: { split: @split } %>
<%= render partial: "remote_kills", locals: { split: @split } %>
