<!DOCTYPE html>
<html>
<head>
  <title>Test Track Admin</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
</head>
<body class="<%= body_css_classes %>">
  <div class="sc-SiteLayout">
    <header class="sc-SiteLayout-header sc-SiteLayout-header--blue">
      <div class="sc-SiteLayout-container">
        <% if content_for?(:header) %>
          <%= yield(:header) %>
        <% else %>
          <%= render "shared/header" %>
        <% end %>
      </div>
    </header>

    <section class="sc-SiteLayout-section">
      <div class="sc-SiteLayout-container sc-ContentLayout">
        <%= render 'layouts/flashes' unless flash.empty? %>
        <%= yield %>
      </div>
    </section>
  </div>
</body>
</html>
