<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
</head>

<body class="<%= site_layout_body_css_classes %>">
  <div class="sc-SiteLayout">
    <div class="<%= site_layout_header_classes %>">
      <div class="sc-SiteLayout-container">
        <% if content_for?(:header) %>
          <%= yield(:header) %>
        <% else %>
          <%= render "shared/header" %>
        <% end %>
      </div>
    </div>

    <section class="sc-SiteLayout-section">
      <div class="sc-ContentLayout sc-ContentLayout--constrained <%= site_layout_container_classes %>">
        <%= render 'shared/flash' unless flash.empty? %>
        <%= yield %>
      </div>
    </section>
  </div>
</body>
</html>
